*{
    font-family: Arial, Helvetica, sans-serif;
}

.columns {
    display: flex;
    gap: 8px;
    margin: 8vh 5vw 0;
}
.column {
    padding: 20px;
    border-radius: 6px;
    width: 25%;
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
    transition: all 0.5s ease-in-out;
}

/*.column:hover {*/
/*    box-shadow: 0 3px 10px rgba(0,0,0,0.11);*/
/*}*/

.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 10px rgba(225, 227, 255, 0.73);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 6px;
    color: #011a39;
}

.card p {
    font-size: 16px;
    margin-bottom: 6px;
}

.card small {
    display: block;
    font-size: 14px;
    color: #989898;
    margin-top: 18px;
}

.actions {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.actions button {
    padding: 8px 30px;
    font-size: 12px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    background: #e1e3ff;
    color: #011a39;
    font-weight: 600;
    margin-top: 12px;
}

.actions button:hover {
    background: #e1e3ff;
}

.create-task{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 36px 0 0;
    width: 25vw;
    gap: 3px;
}

input {
    width: 100%;
    height: 4vh;
    border-radius: 6px;
    border: #e1e3ff solid 1px;
    box-shadow: 1px 1px 10px rgba(225, 227, 255, 0.73);
    padding: 10px;
}

textarea {
    height: 12vh;
    width: 100%;
    border-radius: 4px;
    border: #e1e3ff solid 1px;
    box-shadow: 1px 1px 10px rgba(225, 227, 255, 0.73);
    padding: 10px;
}

.create{
    display: block;
    padding: 2vh 3vw;
    border-radius: 100px;
    margin-top: 2vh;
    background: #e1e3ff;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #011a39;
}

.start{
    display: flex;
    justify-content: space-between;
    margin: 10vh 5vw 0;
    align-items: baseline;
}

.start-text p{
    display: block;
    padding: 0 200px 0 0;
    font-size: 16px;
}

h2{
    text-align: center;
    color: #000;
}

b{
    color: rgba(255, 51, 51, 0.73);
}

.ok{
    display: flex;
    align-items: flex-end;
    padding: 6px 12px;
}