.columns {
    display: flex;
    gap: 8px;
    margin: 8vh 5vw 0;
}
.column {
    padding: 20px;
    border-radius: 6px;
    width: 25%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.5s ease-in-out;
}

.column:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.11);
}

.create-task{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 36px;
    width: 25vw;
    gap: 3px;
}

input {
    width: 100%;
    height: 4vh;
    border-radius: 6px;
}

textarea {
    height: 12vh;
    width: 100%;
    border-radius: 4px;
}

.create{
    display: block;
    padding: 16px;
    width: 101%;
    border-radius: 4px;
}

.start{
    display: flex;
    justify-content: space-between;
    margin: 10vh 5vw 0;
    align-items: baseline;
}

.task-card{
    display: flex;
    flex-direction: column;
    border: #e1e3ff solid 2px;
    background: #ffffff;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 1vh;
}